<div class="card shadow">
  <div class="card-body">

  <div class="card-header maroon-header"style="color:#500000" >
  Group Memberships
  </div>
    <div class="row">
    <div style="margin-left:9%">
      <%= `groups` %>

    </div>
      <br>

    </div>


    <div class="row mt-3">
      <div class="col">
          <thead class="maroon-header">
            <tr>

              <td>
              <button type="button" class="btn btn-primary maroon-button" class="nav-link active btn-rounded mb-4" data-toggle="modal"
              data-target="#requestGroupModal">Manage Groups </button>
              </td>
              <td></td>
            </tr>
          </thead>
          <tbody>

          </tbody>
      </div>
    </div>


  </div>

</div>
