<div class="modal fade" id="requestGuidedHelpModal" tabindex="-1" role="dialog" 
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header text-light text-center">
        <h5 class="modal-title w-100 font-weight-bold">Guided Help Request Form</h5>
        <button type="button" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body mx-3">
        <form class="form" id="modalGuidedHelpRequestForm">
          <div class="md-form mb-2" style="display: none;">
            <label data-error="wrong" data-success="right" for="cluster_name">Cluster Name</label>
            <i class="fas fa-user prefix grey-text"></i>
            <input type="text" name='cluster_name' class="form-control validate" value="<%= settings.cluster_name %>" readonly>
          </div>

          <div class="md-form mb-2">
            <label data-error="wrong" data-success="right" for="help_topic">What do you need help with?</label>
            <i class="fas fa-envelope prefix grey-text"></i>
            <select name="help_topic" onchange="checkFields(value);">
              <option value="Other">Other</option>
              <option value="Software Usage">Software </option>
              <option value="Running Job">Running Slurm Job</option>
              <option value="Account related">Account related</option>
              <option value="Training">Training</option>
            </select>
          </div>
        <div class="md-form mb-2">
          <div id="software-type" style="display:none;">
              <p> Type of Software </p>
              <select name="software-type" onchange="checkSoftware(value);">
              <option value="Other">Other</option>
              <option value="Matlab">Matlab </option>
              <option value="R">R</option>
              <option value="Guassian related">Gaussion</option>
              <option value="LMS">LMS</option>
            </select>
          
          <p>What type of software issue </p>
          <select name="software-issue" onchange="checkSoftwareIssue(value);">
          <option value="Other">other</option>
          <option value="LMS Access"> LMS Access</option>
          <option value="Software Availability">Software Availability</option>
          <option value="add Software">add Software</option>
        </select>
      </div>
        </div>
        <div id="account-type" style="display:none;">
        <p> what type of  account issue </p>
        <select name="account-type" onchange="checkAccount(value);">
        <option value="Other">Other</option>
        <option value="SUs">SUs </option>
        <option value="Shared Directory">Shared Directory</option>
        <option value="Application">Application</option>
        <option value="Login">login issue</option>
        <option value="Quota">Quota Related</option>
        </select>
        
        </div>

        <div id="accounts"></div>

        <div id="slurm-type" style="display:none;">
        <p> what type of  Slurm issue </p>
        <select name="slurm-type" onchange="checkSlurm(value);">
        <option value="Other">Other</option>
        <option value="Job Ended">Job Ended </option>
        <option value="Job Status">Job Status</option>
        <option value="SUs Used">SUs Used</option>
        <option value="Wall time extension">Wall time extension</option>
        </select>
        
        </div>

        <div id="slurm"></div>

        <div id="training-type" style="display:none;">
        <p> what type of  Training issue </p>
        <select name="training-type" onchange="checkTraining(value);">
        <option value="Other">Other</option>
        <option value="SCA">SCA </option>
        <option value="Short Course">Short Course</option>
        <option value="Workshops">Workshops</option>
        </select>
        
        </div>

        <div id="training"></div>
      <div id="job-type" style="display:none">
          <div class="md-form mb-2">
            <label data-error="wrong" data-success="right" for="issue_description">Issue Descriptions</label>
            <i class="fas fa-pencil prefix grey-text"></i>
            <textarea type="text" name="issue_description" class="md-textarea form-control"
              placeholder="Please describe your problem in details." rows="5"></textarea>
          </div>

          <div class="md-form mb-2">
            <label data-error="wrong" data-success="right" for="error_message">Error Message</label>
            <i class="fas fa-pencil prefix grey-text"></i>
            <textarea type="text" name="error_message" class="md-textarea form-control"
              placeholder="e.g. file my_script.py cannot be found" rows="4"></textarea>
          </div>

          <div class="md-form mb-2">
            <label data-error="wrong" data-success="right" for="job_file_path">Path to Your Job File</label>
            <i class="fas fa-user prefix grey-text"></i>
            <input type="text" name='job_file_path' class="form-control validate"
              placeholder="e.g. $SCRATCH/myawsome_research/my_sim_job.sbatch">
          </div>

          <div class="md-form mb-2">
            <label data-error="wrong" data-success="right" for="job_id">Job ID</label>
            <i class="fas fa-user prefix grey-text"></i>
            <input type="text" name='job_id' class="form-control validate">
          </div>

          <div class="md-form mb-2">
            <label data-error="wrong" data-success="right" for="program_file_path">Path to Your Executable/Script
              file</label>
            <i class="fas fa-user prefix grey-text"></i>
            <input type="text" name='program_file_path' class="form-control validate"
              placeholder="e.g. $SCRATCH/myawsome_research/hello_world.out">
          </div>
      </div>
          <div class="md-form mb-2">
            <label data-error="wrong" data-success="right" for="additional_information">Additional Information</label>
            <i class="fas fa-pencil prefix grey-text"></i>
            <textarea type="text" name="additional_information" class="md-textarea form-control"
              placeholder="e.g. The data is located at $SCRATCH/my_data. Also, when I run the job, I use my Python virtual environment located in $SCRATCH/venv/"
              rows="4"></textarea>
          </div>

          <div class="modal-footer d-flex justify-content-center">
            <button type="submit" class="btn btn-primary request-maroon-button" >Submit</button>
          </div>
          <div style="color: maroon;" class="text-center">
            Please be as specific as possible. This will help us resolve your issue faster.
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

