<div class="card shadow" style="width:115%">
  <div class="card-header maroon-header" >
    Disk Quotas
  </div>
  <div class="card-body table-responsive p-0" >
    <table id="quota_table" class="table" >
      <thead>
        <tr>
          <th>Disk</th>
          <th style={"width:15%"}>Disk Usage</th>
          <th>Limit</th>
          <th style={"width:15%"}>File Usage</th>
          <th>Limit</th>
          <th></th>
        </tr>
      </thead>

    </table>
  </div>
  <!-- /.card-body -->
  <!-- ./card-footer -->
</div>
<!-- /.card -->

<!-- Quota Request Model Forms -->
<div class="modal fade" id="requestQuotaModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header text-light text-center">
        <img class='align-image'src="<%= url("/images/HPRC-Identity-ExternalLeft-Dark.svg") %>" 
      class="d-inline-block align-top " alt="" target="_blank" style= " background-color: #500000;
        width: 40% ">
        <h5 class="modal-title w-100 font-weight-bold">Quota Increase Request</h5>
        <button type="button" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      
      
      
      <div class="modal-body mx-3">
        <form class="form" id="modalQuotaRequestForm">
          <div class="md-form mb-2" style="color: maroon;">
            <p><bold>Only Owners of the individual disk space can request the quota increase</bold></p>
            <p>Quota requests are subject to review and approval by HPRC admins. Please provide a strong and detailed justification for this request.</p>
            <p>Only a PI can request quota increases that exceed 10 TB or last more than six months. These requests need approval from the HPRC Director.</p>
          </div>
          
          <div class="md-form mb-2">
	        <p> Is this request more than 10TB or for longer than 6 months? </p>
            <input type="radio" name="length" id="yes6" value="yes" onclick=checkLength(value)>Yes  
            <input type="radio" name="length" id="no6" value="no" onclick=checkLength(value)>No  
          </div>
          
          <div class="md-form mb-2" style="color: maroon;">
            <div id="need-PI-request" style="display:none">
                <!--<p> Quota increases greater than 10 TB or 6 months must be requested by a PI to be approved by the Director of HPRC. -->
                <!--    If you are not a PI, please have your PI contact us to provide justification. </p>-->
            
                <p> Are you a PI for this request? </p>
                <input type="radio" name="confirmPi" id="yesPI" value="yes" onclick=checkPi(value)>Yes  
                <input type="radio" name="confirmPi" id="noPI" value="no" onclick=checkPi(value)>No
            </div>
            
          </div>
          
          <div id="Pi-notice" style="display:none;">
              <div class="md-form mb-2">
                <p>Please have your PI request the quota increase!</p>
              </div>
          </div>
          
          <div class="md-form mb-2" style="color: maroon;">
            <div id="buyin-option" style="display:none">
                <p>HPRC offers a Buy-In option for storage:<br>
                Are you interested in buying in ($175/TB for 5 years, $35/TB for one year) </p>
                <input type="radio" name="confirmBuyin" id="yesBuy" value="yes" onclick=checkBuyin(value)>Yes
                <input type="radio" name="confirmBuyin" id="noBuy" value="no" onclick=checkBuyin(value)>No
            </div>
          </div>
          
          
          <div id="extra-form-fields" style="display:none;">
            <div class="md-form mb-2">
                <label data-error="wrong" data-success="right" for="request_until">Until when do you need the increased storage?</label>
                <input type="text" name="request_until" class="md-textarea form-control" id="datepicker">
            </div>
            
            <div class="md-form mb-2">
                <label data-error="wrong" data-success="right" for="student_netid">Comments(Optional)</label>
                <i class="fas fa-pencil prefix grey-text"></i>
                <textarea type="text" name="student_netid" class="md-textarea form-control"
                rows="1"></textarea>
            </div>
          </div>
          <div class="md-form mb-2" >
          <div id="extension-option" style="display: none;">
              <p>Is the current request a new request  or extension of the previous quota increase? </p>
              <input type="radio" name="has_previous" id="yes" value="True">Extension
              <input type="radio" name="has_previous" id="no" value="False">New Request
          </div>
        </div>

          <div id="current-status-fields" style="display: none;">
          <div class="md-form mb-2" style="display: none;">
            <label data-error="wrong" data-success="right" for="cluster_name">Cluster Name</label>
            <i class="fas fa-user prefix grey-text"></i>
            <input type="text" name='cluster_name' class="form-control validate" value="<%= settings.cluster_name %>"
              readonly>
          </div>

          <!-- Hidden input fields for current used file count and disk quota -->
          <div style="display: none;">
            <input type="hidden" id="current_used_file" name="current_used_file">
            <input type="hidden" id="current_used_disk_quota" name="current_used_disk_quota">
          </div>
          <div class="md-form mb-2" style="display: none;">
            <input type="hidden" id="disk_name" name='directory' class="form-control validate">
          </div>
          <div class="md-form mb-2" >
            <label>Email Id</label>
            <input type="text" id="email" name='email' class="form-control validate" >
          </div>
          
          <div class="md-form mb-2">
            <label data-error="wrong" data-success="right" for="current_quota">Current Quota</label>
            <i class="fas fa-user prefix grey-text"></i>
            <input type="text" name="current_quota" readonly class="form-control" id="current_quota">
          </div>
          

          <div class="md-form mb-2">
            <label data-error="wrong" data-success="right" for="desired_disk">New  Quota</label>
            <i class="fas fa-user prefix grey-text"></i>
            <div class="input-group">
              <input type="number" step="any" name='desired_disk' class="form-control validate" id="desired_disk">
              <div class="input-group-append">
                <span class="input-group-text"> TB </span>
              </div>
            </div>
          </div>

          <div class="md-form mb-2">
            <label data-error="wrong" data-success="right" for="current_file_limit">Current File Limit</label>
            <i class="fas fa-user prefix grey-text"></i>
            <input type="text" name="current_file_limit" readonly class="form-control" id="current_file_limit">
          </div>

          <div class="md-form mb-2">
            <label data-error="wrong" data-success="right" for="total_file_limit">New File Limit</label>
            <i class="fas fa-envelope prefix grey-text"></i>
            <input type="number" step="any" name="total_file_limit" class="form-control validate" id="total_file_limit">
          </div>
          </div>

          
          <div id="body-form-fields" style="display:none;">
          <div class="md-form mb-2">
          
            <label data-error="wrong" data-success="right" for="request_justification1">Is the PI aware of this request?</label>
            <textarea type="text" name="request_justification" class="md-textarea form-control" id="justification-field"
            rows="4" required></textarea>
            <label data-error="wrong" data-success="right" for="request_justification2">What data is stored with the requested quota?</label>
            <textarea type="text"  class="md-textarea form-control" id="justification-field1"
            rows="4" required></textarea>
            <label data-error="wrong" data-success="right" for="request_justification3">Briefly describe the research project that will be supported by the requested storage?</label>
            <textarea type="text"  class="md-textarea form-control" id="justification-field2"
            rows="4" required></textarea>
            <label data-error="wrong" data-success="right" for="request_justification4">What is the input/output size of the job?</label>
            <textarea type="text"  class="md-textarea form-control" id="justification-field3"
            rows="4" required></textarea>
            <label data-error="wrong" data-success="right" for="request_justification5">What is your long-term storage plan for your data after the quota increase expires?</label>
            <textarea type="text" class="md-textarea form-control" id="justification-field4"
            rows="4" required></textarea>
          </div>

          <div class="md-form mb-2">
            <label data-error="wrong" data-success="right" for="comment">Comment (Optional)</label>
            <i class="fas fa-pencil prefix grey-text"></i>
            <textarea type="text" name="comment" class="md-textarea form-control" rows="4"></textarea>
          </div>
          </div>
          
          <div id="submit-field" style="display:none;">
            <div class="md-form mb-2">
                <input type="checkbox" name="terms" required> I verify that I will remove any unnecessary data and compress
                files/folders to save shared resources.</input>
            </div>
            <div class="modal-footer d-flex justify-content-center">
                <button type="submit" class="btn btn-primary request-maroon-button" onclick="logFile()">Submit Request</button>
            </div>
            <div style="color: maroon;" class="text-center">
                Either Disk Quota or File Limit must be filled.
            </div>
          </div>
          
          
        </form>
      </div>
    </div>
  </div>
</div>
<!-- Group Request Model Forms -->
<div class="modal fade" id="requestGroupModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header text-light text-center">
  
        <h5 class="modal-title w-100 font-weight-bold">Group Request</h5>
        <button type="button" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      
         
      <div class="modal-body mx-3">
        <form class="form" id="modalGroupRequestForm">

          <div class="md-form mb-2">
            <label>Group Name</label>
            <i class="fas fa-user prefix grey-text"></i>
            <input type="text" name='group_name' class="form-control validate" required >
          </div>

          <div class="md-form mb-2">
          <label data-error="wrong" data-success="right" for="cluster_name">Cluster Name</label>
          <i class="fas fa-user prefix grey-text"></i>
          <input type="text" name='cluster_name' class="form-control validate" value="<%= settings.cluster_name %>" readonly>
          </div>
          <br/>
          <div class="md-form mb-2" >
            <label>Email Id</label>
            <input type="text" id="email" name='email' class="form-control validate" >
          </div>
          <div class="md-form mb-2">
	        <p> Type of Group(Required) </p>
              <input type="radio"  name="new_group" value="True" onclick=checkGroup(value) >New Group
              &nbsp &nbsp &nbsp
              <input type="radio"  name="new_group" value="False" onclick=checkGroup(value)>Existing Group 
          </div>
          
  
              <div id="groupdirCheckbox" style="display:none">
                <input type="checkbox" name="groupdir" id="groupdirCheck" value="yes" onclick=toggleTextBox() >Create Group Directory <br/>
              
          
              <input type="text" name='dir_name' id="dirNameInput" class="form-control validate" placeholder="Group Directory Name" style="display: none;">
              </div>
           <br/>
          <div style="display:none" id="existinggroup">
         
            <select id="actionDropdown" onchange="checkAction()" name="Add">
            <option value="" selected>Select an action</option>
            <option value="addMembers" >Add Members</option>
            <option value="deleteMembers">Delete Members</option>
            <option value="addDelegate">Add Delegate</option>
            <option value="removeDelegate">Remove Delegate</option>
            &nbsp &nbsp &nbsp
            </select> 
            <br/><br/>
            <div id="inputField" style="display: none">
            <label data-error="wrong" data-success="right" >Please provide a comma separated list of netids to  add/remove (do not  provide UINs or email addresses) </label>
          
            <textarea type="text" id="actionField" name="target_users" placeholder="" class="md-textarea form-control" ></textarea>
            </div>
          </div>
         
          <div class="md-form mb-2" id="add-group"  style="display:none">
            <label data-error="wrong" data-success="right" >Please provide a comma separated list of netids of members to  add (do not  provide UINs or email addresses) </label>
            <i class="fas fa-pencil prefix grey-text"></i>
            <textarea type="text" id="NewgroupUsers" class="md-textarea form-control" 
            rows="4" oninput="updateTargetUsers()"></textarea>
          </div>
          
          <div class="md-form mb-2"id="remove-group"  style="display:none">
          <label data-error="wrong" data-success="right">Please provide a comma separated list of netids of members to  remove (do not  provide UINs or email addresses) </label>
          <i class="fas fa-pencil prefix grey-text"></i>
          <textarea type="text" class="md-textarea form-control" id="RemovegroupUsers"
          rows="4"></textarea>
          </div>
          <br/>
          <div   id="groupDeletionCheckbox" style="display:none">
          <input type="checkbox" id="delgroup" value="yes" onclick=checkDelete() >Delete this group <br><br>
          </div>
            
          <div class="md-form mb-2" id="comments" style="display:none">
          <label data-error="wrong" data-success="right" >Comments</label>
          <i class="fas fa-pencil prefix grey-text"></i>
          <textarea type="text" name="comments" class="md-textarea form-control" 
          rows="4"></textarea>
          </div>
          
          <div id="submit-field">
            <div class="modal-footer d-flex justify-content-center">
                <button type="submit" class="btn btn-primary request-maroon-button" data-toggle="modal"
                  >Submit Request</button>
            </div>
          </div>
          
          
        </form>
      </div>
    </div>
  </div>

</div>

<!-- Confirmation Modal -->
<div class="modal fade" id="confirmDeleteModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header text-light text-center">
        <h5 class="modal-title w-100 font-weight-bold">Group Deletion Confirmation</h5>
        <button type="button" data-dismiss="modal" aria-label="Close" data-toggle="modal" data-target="#requestGroupModal">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
  
      <div class="modal-body mx-3">
        <form class="form" id="confirmdeleteform">

          <div class="md-form mb-2">
            <label>Are you sure you want to delete the group?</label>
          </div>
          
          <div id="submit-field">
            <div class="modal-footer d-flex justify-content-center">
                <button type="button" class="btn btn-primary request-maroon-button" value="no" name='delete' id='delete'data-toggle="modal" data-dismiss="modal" data-target="#requestGroupModal" onclick=approveDel()>Yes! I understand</button>
            </div>
          </div>
          
          
        </form>
      </div>
    </div>
  </div>

</div>