<div class="card shadow">
  <div class="card-header maroon-header">
    Queue Availability
  </div>
  <div class="card-body table-responsive p-0">
    <table id="sinfo_table" class="table">
      <thead>
        <tr>
          <th>Queue</th>
          <th>Nodes Avail</th>
          <th>CPU Avail</th>
        </tr>
      </thead>
    </table>
  </div>
  <!-- /.card-body -->
</div>
<!-- /.card -->
